body{
	font-family: : Helvetica;
}

.jumbotron {
margin-bottom: 0px;background-image: url(https://www.tutorialmines.net/wp-content/uploads/2018/11/bg.jpg);
background-position: 0% 25%;
background-size: cover;
background-repeat: no-repeat;
color: white;
text-shadow: black 0.1em 0.1em 0.1em;}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
