.sidenav {
    width: 180px;
    position: fixed;
    z-index: 1;
    margin: 15px;
    border-radius: 8px;
    background: #343a40;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #343a40;
    color: grey;
    display: block;
    outline: none;
    border: none;
    width: 180px;
}

.sidenav a:hover {
    color: #FFF;
    border-left: 4px solid #FAA916;
}



.pic-box {
    position: fixed;
    z-index: 1;
    margin-top: 15px;
    margin-left: 210px;
    margin-right: 15px;
    border-radius: 8px;
    max-width:1300px;
    max-height:700px;
    background: #343a40;
    overflow: auto;
    color: #FFF;
}

.box-text {
    margin: 40px;
}


img {
    margin: 40px;
}
